%div
  %table.page-wide
    - math_problems.each_with_index do |row, index|
      %tr.equation-row
        %td= "#{index+1}."
        - row.each do |prob|
          %td
            %table.equation.right
              %tr.inside-equation
                %td &nbsp;
                %td= prob[0]
              %tr.inside-equation
                %td= prob[2]
                %td= prob[1]
              %tr.inside-equation
                %td.top_line{ colspan: 2} &nbsp;